ALLDWTableToBlob/pipeline/CopyAdDWToBlob.json
{
	"name": "CopyAdDWToBlob",
	"properties": {
		"activities": [
			{
				"name": "Gettablelist",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select name from sys.tables"
					},
					"dataset": {
						"referenceName": "TableList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Gettablelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Gettablelist').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DWtoBlob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "target_dwinput",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@variables('targettable')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "target_bloboutput",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(variables('targettable'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "targettable",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"targettable": {
				"type": "String",
				"defaultValue": "DimAccount"
			},
			"targettabletest": {
				"type": "String"
			}
		},
		"folder": {
			"name": "CopyAllTable"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}